:root {
  --primary-color: #b6b799;
  --secondary-color: #d0b8a1;
  --accent-color: #ddaa6b;
  --text-color: #514d36;
  --header-font: "Crimson Pro", serif;
  --text-font: "Poppins", sans-serif;
}

body {
  font-family: var(--text-font);
}

.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 40px 20px 80px;
}

h1 {
  font-family: var(--header-font);
  font-size: 68px;
  font-weight: bold;
}

.hero h2 {
  font-size: 20px;
}

.hero h3 {
  font-size: 16px;
}

.btn-branding {
  background: var(--accent-color);
  border-radius: 4px;
  padding: 10px 20px;
  color: white;
}

.container h2 {
  font-family: var(--header-font);
  font-size: 38px;
}

.container p {
  font-size: 15px;
  line-height: 1.8;
  text-align: justify;
}

.container h3 {
  font-size: bold;
  color: var(--accent-color);
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.projects {
  max-width: 80%;
  display: block;
  margin: 0 auto;
  border-radius: 3px;
}

.profile-picture {
  width: 65%;
  border: 10px solid var(--secondary-color);
  border-radius: 2px;
  display: block;
  margin: 0 auto;
}

.content {
  margin: 40px auto;
}

.content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.content p {
  margin-bottom: 30px;
}

h4 {
  text-align: center;
  font-family: var(--header-font);
}

nav {
  margin-bottom: 50px;
  margin-top: -10px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin-right: 20px;
  font-size: 15px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}

nav a:hover {
  color: white;
}

nav li.active a {
  font-weight: bold;
}

.certificate {
  width: 100%;
}

footer {
  margin: 50px 0;
}

footer .contact-box {
  background: var(--primary-color);
  padding: 30px 120px;
  border-radius: 5px;
}

footer .contact-box h4 {
  font-size: 44px;
}

footer .contact-box p {
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  font-size: 22px;
  text-align: center;
  color: black;
}

footer .email-link:hover {
  color: var(--primary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: white;
  background: var(--primary-color);
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  background: var(--accent-color);
}

@media (max-width: 576px) {
  h1 {
    font-size: 42px;
  }

  .hero h2 {
    font-size: 14px;
  }

  .hero h3 {
    font-size: 12px;
  }

  .hero {
    padding: 70px 25px;
  }

  .container h2 {
    font-size: 30px;
  }

  .container h3 {
    font-size: 20px;
    margin: 0;
  }

  .container p {
    font-size: 12px;
    margin: 20px;
  }

  .container {
    text-align: center;
  }

  .container .btn-branding {
    margin-bottom: 20px;
    font-size: 13px;
    padding: 8px 13px;
  }

  h4 {
    font-size: 16px;
  }

  .content h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  nav {
    margin-top: -40px;
  }
}
